.list {
  list-style: none;
  padding: 0;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 8px;
}
.contact {
  margin-right: 8px;
}
.button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: white;
  background-color: rgb(69, 69, 205);
}
